* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding-top: 10px;
    background-color: skyblue;
    font-size: 30px;
    font-weight: bold;
}

body {
    background-color: darkseagreen;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px 20px;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.galleryimage {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galleryimage:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border: 3px solid black;
}

.lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox-img {
    min-width: 400px;
    min-height: 400px;
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 12px;
    animation: zoomIn 0.8s ease;
}

.close {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 45px;
    color: white;
    cursor: pointer;
    z-index: 2000;
}

.prev,
.next {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 50%;
    z-index: 2000;
}

.prev {
    left: 30px;
}

.next {
    right: 30px;
}


@keyframes zoomIn {
    from {
        transform: scale(0.75);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    #lightbox-img {
        min-width: 280px;
        min-height: 280px;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }
}
