*
{
    margin: 0;
    padding: 0;
 
}
.header
{
    text-align: center;
    padding-top: 10px;
    background-color:skyblue;
    font-size: 30px;
    font-weight: bold;

}
body
{
    background-color:white;
    margin:0;
    padding:0;

}
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    padding: 20px;
    padding-top: 50px;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.galleryimage
{
    width: 200px;
    height:200px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: 0.5px solid black;


}
.galleryimage:hover
{
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(1.2);
    border-color: red;
    
}
